*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    gap: 2rem;
    #right{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        div{
            display: flex;
            flex-direction: column;
            padding: 2rem;
        }

    }
}